.center {
    text-align: center;
}

.submit {
    background-color: #1B4079;
	padding: 10px 10px;
	color: white;
	border-radius: 15px;
	font-size: 20px;
}

.submit:hover {
	background-color: black;
}

h1 {
    font-size: 300%;
}

#table_div, #columnchart_values, #curve_chart, #pie_chart {
	display: block;
	margin: 0 auto;
}

.text-box {
	padding: 7px 7px;
	font-size: 20px;
	text-align: center;
	border-radius: 15px;

}