<!--8 40 pm-->
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {# The next 4 lines basically gets the data from the py file so that our javascript code can use it #}
    <script type="text/javascript">
        myvar = {{data|tojson}}
        my_input = {{time_input|tojson}}
    </script>
    
    <title>Parking!</title>
</head>
<body>
    <h2>class_time_garage_avail query</h2>
    {% if is_input_wrong %}
        WRONG INPUT FORMAT. PLEASE USE THE 'HH:MM' FORMAT. 
    {% endif %}
    <form>
        <p>
            Enter a time in 'HH:MM' format:
            <input type="text" name="time_input" value="{{time_input}}">
            <input type="submit">
        </p>
    </form>


    <div id="table_div" style="width: 500px;"></div>
	
	<script type="text/javascript">
		google.charts.load('current', { 'packages': ['table'] });
		google.charts.setOnLoadCallback(drawTable);

		function drawTable() {
			var jsdata = new google.visualization.DataTable();
			jsdata.addColumn('string', 'Parking Deck');
			jsdata.addColumn('number', 'Available Spaces');
			
            jsdata.addRows(myvar);
			
			var table = new google.visualization.Table(document.getElementById('table_div'));
			table.draw(jsdata, { showRowNumber: true, width: '100%', height: '100%' });
		}

	</script>

	<div id="pie_chart" style="width: 900px; height: 500px"></div>
	
	<script>
		google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
		
		function drawChart() {
            /* This next line inserts headers for the table */
            myvar.splice(0, 0, ["Garage", "Available spaces"])
			var data = google.visualization.arrayToDataTable(myvar);
			
			var options = {
                title: 'Garage availability at ' + my_input,
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

            chart.draw(data, options);
		}
	</script>
</body>
</html>