<!DOCTYPE html>
<html>
<!-- Pie Chart to show garage availability in faculty/staff-->

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='query_pages.css')}}" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        myvar = {{ data | tojson }}
    </script>
</head>

<body class="center">
    <!-- NAV BAR -->
    {% with home=False, garages=False, students=False,
    occupied=False, faculty=True, visitors=False %}
    {% include 'nav.html' %}
    {% endwith %}

    <br>
    <h1>Available Parking in Faculty Lots</h1>

    <p style="margin-left: 10%; margin-right: 10%;">
        This query is designed to show how the average number of occupied spaces versus the average number
        of available spaces for a particular faculty lot at a specific date and hour. Users will need to
        select which faculty lot they are interested in as well as inputting a date and hour in the input
        fields below.
    </p>

    {% if is_input_wrong %}
    WRONG INPUT FORMAT. PLEASE USE 'HH' FORMAT FOR HOUR.
    {% endif %}
    <form>
        <p>
        <h5>Enter an hour in HH format:</h5>
        <input style="width: 50px;" class="text-box" type="text" name="hour" value="{{hour_input}}">
        <br><br>
        <h5>Select a Date:</h5>
        <input class="text-box" type="date" name="date" value="{{ date_input }}" min="2021-01-01" max="2021-11-04"
            required><br>

        <br>
        <h5>Select a Garage:</h5>
        <input type="radio" id="Grace" name="garage" value="Grace" checked>
        <label for="Grace">Grace</label><br>
        <input type="radio" id="Warsaw" name="garage" value="Warsaw">
        <label for="Warsaw">Warsaw</label><br>
        <input type="radio" id="Ballard" name="garage" value="Ballard">
        <label for="Ballard">Ballard</label><br>
        <input type="radio" id="Mason" name="garage" value="Mason">
        <label for="Mason">Mason</label><br><br>
        <input class="submit" type="submit">
        </p>
    </form>

    <script>
		document.getElementById("{{ garage_input }}").checked = true;
	</script>

    {% if data %}
    <div id="table_div" style="width: 500px;"></div>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['table'] });
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var jsdata = new google.visualization.DataTable();
            jsdata.addColumn('string', 'Parking Deck');
            jsdata.addColumn('number', 'Average Occupied Spaces');
            jsdata.addColumn('number', 'Average Available Spaces');

            jsdata.addRows(myvar);

            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(jsdata, { showRowNumber: true, width: '100%', height: '100%' });
        }

    </script>

    <div id="pie_chart" style="width: 900px; height: 500px"></div>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            myvar.splice(0, 0, ["Garage", "Average Occupied Spaces", "Average Available Spaces"]);
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Number of Spaces'],
                ['Average Occupied Spaces', {{ data[0][1] }}],
                ['Average Available Spaces', {{ data[0][2] }}]
                ]);

        var options = {
            title: 'Garage availability in faculty/staff spaces',
            curveType: 'function',
            legend: { position: 'bottom' },
            slices: {0: {color: '#4B7C8A'}, 1: {color: '#8FAD88'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

        chart.draw(data, options);
            }
    </script>
    {% endif %}
</body>

</html>