<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
    <!-- NAV BAR -->
    {% include 'nav.html' %}

    <h1>Get Garage Availability</h1>
    <a href="/">Home Page</a>

    {% if cur1 %}
    <form>
        <p>Select a Term:</p>
        {% for garage in cur1 %}
        <input type="radio" id="Z{{ garage[0] }}" name="garage" value="{{ garage[0] }}">
        <label for="Z{{ garage[0] }}">{{ garage[1] }}: {{ garage[2] }}</label><br>
        {% endfor %}

        <p>Select a Day:</p>
        <input type="date" name="date" value="{{ date }}" min="2021-01-01" max="2021-11-04">
        </div>

        <p><input type="submit"></p>
    </form>
    {% endif %}

    <!-- Saves which button was selected after submitting -->
    <script>
        document.getElementById("Z{{ garage }}").checked = true;
    </script>

    {% for message in get_flashed_messages() %}
    <p style="color:red">{{ message }}</p>
    {% endfor %}

    {% if cur2 %}
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Occupancy'],
                {% for row in cur2 %}
        ["{{ row[0] }}", {{ row[1]}}],
            {% endfor %}
            ]);

        var options = {
            title: '{{ strGarage }} Occupancy for {{ date }}',
            curveType: 'function',
            legend: { position: 'bottom' },
            vAxis: {
                title: "Parking Spaces"
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
        }
    </script>
    {% endif %}
</body>

</html>