<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='query_pages.css')}}"/>
</head>

<body>
    <!-- NAV BAR -->
    {% with home=False, classtime=False, garages=True, students=False,
    occupied=False, faculty=False, visitors=False %}
    {% include 'nav.html' %}
    {% endwith %}

    <h1 class="center">Get Garage Availability</h1>

    {% if cur1 %}
    <form class="center">
        <h5>Select a Term:</h5>
        {% for garage in cur1 %}
        <input type="radio" id="Z{{ garage[0] }}" name="garage" value="{{ garage[0] }}">
        <label for="Z{{ garage[0] }}">{{ garage[1] }}: {{ garage[2] }}</label><br>
        {% endfor %}

        <p>Select a Day:</p>
        <input class="text-box" type="date" name="date" value="{{ date }}" min="2021-01-01" max="2021-11-04">
        </div>
        <br /> <br />
        <p><input class="submit" type="submit"></p>
    </form>
    {% endif %}

    <!-- Saves which button was selected after submitting -->
    <script>
        document.getElementById("Z{{ garage }}").checked = true;
    </script>

    {% for message in get_flashed_messages() %}
    <p style="color:red">{{ message }}</p>
    {% endfor %}

    {% if cur2 %}
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Occupancy'],
                {% for row in cur2 %}
        ["{{ row[0] }}", {{ row[1]}}],
            {% endfor %}
            ]);

        var options = {
            title: '{{ strGarage }} Occupancy for {{ date }}',
            curveType: 'function',
            legend: { position: 'bottom' },
            vAxis: {
                title: "Parking Spaces"
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
        }
    </script>
    {% endif %}
</body>

</html>