<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='query_pages.css')}}" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body class="center">
    <!-- NAV BAR -->
    {% with home=False, garages=False, students=True,
    occupied=False, faculty=False, visitors=False %}
    {% include 'nav.html' %}
    {% endwith %}

    <br>
    <h1>Finding Student Enrollment</h1>
    <h5 id="sub">Results only show class times with more than 50 people and more than 5 courses.</h5>

    <p style="margin-left: 10%; margin-right: 10%;">
        This query is designed to show how the number of students that are enrolled in classes
        in relation to the number of classes that are offered during the most popular times.
        Users will need to select which semester as well as checking the days that they are interested
        in from the input fields below.
    </p>

    <form>
        <h5>Select a Term:</h5>
        <input type="radio" id="1211" name="term" value="1211" checked required>
        <label for="1211">Spring 2021</label><br>
        <input type="radio" id="1218" name="term" value="1218">
        <label for="1218">Fall 2021</label><br>

        <br>

        <h5>Select a Day/Days:</h5>
        <div id="days">
            <input type="checkbox" name="M" id="M" checked>
            <label for="M">Monday</label><br>
            <input type="checkbox" name="TU" id="TU">
            <label for="TU">Tuesday</label><br>
            <input type="checkbox" name="W" id="W" checked>
            <label for="W">Wednesday</label><br>
            <input type="checkbox" name="TH" id="TH">
            <label for="TH">Thursday</label><br>
            <input type="checkbox" name="F" id="F" checked>
            <label for="F">Friday</label><br>
        </div>

        <br>

        <p><input class="submit" type="submit"></p>
    </form>

    {% for message in get_flashed_messages() %}
    <p style="color:red">{{ message }}</p>
    {% endfor %}

    <!-- Saves which button was selected after submitting -->
    <script>
        document.getElementById("{{term}}").checked = true;
        {% if days %}
        document.getElementById("M").checked = {{ "true" if days[0] == "on" else "false" }};
        document.getElementById("TU").checked = {{ "true" if days[1] == "on" else "false" }};
        document.getElementById("W").checked = {{ "true" if days[2] == "on" else "false" }};
        document.getElementById("TH").checked = {{ "true" if days[3] == "on" else "false" }};
        document.getElementById("F").checked = {{ "true" if days[4] == "on" else "false" }};
        {% endif %} 
    </script>

    {%if cur%}
    <div class="center" id="chart_div" style="width: 1000px; height: 500px"></div>
    <script>
        google.charts.load('current', { 'packages': ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {

            var button = document.getElementById('change-chart');
            var chartDiv = document.getElementById('chart_div');

            var data = google.visualization.arrayToDataTable([
                ["Time", "num_students", "num_courses"],
                {% for row in cur %}
        ["{{ row[0] }}", {{ row[1] }}, {{ row[2] }}],
            {% endfor %}
            ]);

        var materialOptions = {
            width: 900,
            chart: {
                title: 'Student numbers and Course Offerings on {{ day }} in {{ strTerm }}',
                subtitle: 'Note: a student in one time could be a student in another time.'
            },
            series: {
                0: { axis: 'students' }, // Bind series 0 to an axis named 'distance'.
                1: { axis: 'courses' } // Bind series 1 to an axis named 'brightness'.
            },
            axes: {
                y: {
                    students: { label: 'Students' }, // Left y-axis.
                    courses: { side: 'right', label: 'Courses' } // Right y-axis.
                }
            }
        };

        var classicOptions = {
            width: 900,
            series: {
                0: { targetAxisIndex: 0 },
                1: { targetAxisIndex: 1 }
            },
            vAxes: {
                // Adds titles to each axis.
                0: { title: 'Students' },
                1: { title: 'Courses' }
            }
        };

        function drawMaterialChart() {
            var materialChart = new google.charts.Bar(chartDiv);
            materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
            button.innerText = 'Change to Classic';
            button.onclick = drawClassicChart;
        }

        function drawClassicChart() {
            var classicChart = new google.visualization.ColumnChart(chartDiv);
            classicChart.draw(data, classicOptions);
            button.innerText = 'Change to Material';
            button.onclick = drawMaterialChart;
        }

        drawMaterialChart();
        };
    </script>
    {%endif%}
</body>

</html>