<!DOCTYPE html>
<html>

<head>
    <title>Team Parking</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>


<body>
    <!-- NAV BAR -->
    {% with home=True, garages=False, students=False,
    occupied=False, faculty=False, visitors=False %}
    {% include 'nav.html' %}
    {% endwith %}

    <h4 style="text-align:right"><span id='date_and_time'></span></h4>
    <br>

    <p style="text-align:center">
        <img src="https://t4.ftcdn.net/jpg/01/70/67/17/360_F_170671797_KY866DPiDN1YP6rvsmxnciTcDXxVHDlR.jpg"
            alt="Parking Logo" style="width:250px;height:200px;">
    </p>

    <h1>The Parking Helper App</h1>

    <p style="text-align:center">This application is designed to give JMU students more access to parking information
        so they can schedule their day better and be more prepared.
    </p>

</body>
<script>
    var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    function time() {
        var today = new Date();
        var hour = today.getHours();
        var minute = today.getMinutes();
        var second = today.getSeconds();
        var weekday = days[today.getDay()];
        var month = months[today.getMonth()];
        var date = today.getDate();
        var year = today.getFullYear();
        document.getElementById('date_and_time').innerHTML = hour + ":" + minute + ":" + second + "</br>" + weekday + ", " + month + " " + date + ", " + year;
    }

    setInterval(time, 1000);        
</script>

</html>