<!DOCTYPE html>
<html>
    <title>HTML Tutorial</title>
    <body>

        <h1>Parking</h1>
        <p>Links to Charts</p>

        <a href="/visitors">Average Visitors per Hour</a>
        <br></br>
        <a href="/classtime">Parking Spots Available by Classtime</a>
        <br></br>
        <a href="/garages">Garage Statistics</a>
        <br></br>
        <a href="/students">Student Parking by Day</a>
        <br></br>
        <a href="/occupied">Statistics of Occupied Parking</a>
        <br></br>
        <a href="/faculty">Available Parking in Faculty/Staff Lots</a>
        
    </body>
</html>
