<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon.png" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='query_pages.css')}}" />
    <title>Occupancy and Students</title>
</head>

<body>
    <!-- NAV BAR -->
    {% with home=False, percent_stu=True, garages=False, students=False,
    occupied=False, faculty=False, visitors=False %}
    {% include 'nav.html' %}
    {% endwith %}

    <br>
    <h1 class="center">Occupied Spaces Compared to Student Volume</h1>

    {% if is_input_wrong %}
    <p class="error"> WRONG INPUT FORMAT. PLEASE USE 'HH' FORMAT FOR HOUR 'YYYY-MM-DD' FOR DATE.</p>
    {% endif %}

    <p style="margin-left: 10%; margin-right: 10%; font-size: 20px;">
        This query allows easy comparisons between the garage occupancy and amount of students and courses on campus. By
        entering a day and hour, both charts will appear. From there, edit the hour to change the chart on the left to
        show garage occupancy at that hour. Compare the two graphs at various times throughout the day to see how the
        volume of students and courses is reflected in the availability of parking spaces!
    </p>

    <form class="center">
        <h5 class="form-heading"> Enter an hour in HH format: </h5>
        <input style="width: 50px;" class="text-box" type="text" name="hour" value="{{hour_input}}" required>
        <h5 class="form-heading"> Select a Date: </h5>
        <input class="text-box" type="date" name="date" value="{{date_input}}" min="2021-01-01" max="2021-11-04"
            required>
        <input class="submit" type="submit">
    </form>

    {% if data and percent_data %}
    <div class="container-fluid combo">
        <div class="row" style="height: 400px;">
            <!-- THE PERCENT OCCUPIED CHART -->
            <div class="col-xl-6">
                <div id="columnchart_values" style="height: 100%;"></div>
                <script type="text/javascript">
                    google.charts.load("current", { packages: ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                            ['Garage Availability', 'Occupied Spaces', 'Available Spaces'],
                            {% for i in range(data | length) %}
                    ["{{ percent_data[i][0] }}", {{ percent_data[i][1] }}, {{ data[i][1] - percent_data[i][1] }}],
                        {% endfor %}
                    ]);

                    var view = new google.visualization.DataView(data);
                    view.setColumns([0, 1,
                        {
                            calc: "stringify",
                            sourceColumn: 1,
                            type: "string",
                            role: "annotation"
                        },
                        2]);

                    var options = {
                        title: "Garage occupancy for {{date_input}} at {{hour_input}}:00.",
                        titleTextStyle: {
                            fontName: 'Tahoma',
                            fontSize: 16,
                        },
                        legend: { position: 'top', maxLines: 3 },
                        bar: { groupWidth: '75%' },
                        isStacked: true,
                        vAxes: {
                            // Adds titles to each axis.
                            0: { title: 'Number of Spaces' },
                        },
                        series: { 0: { color: '#4B7C8A' }, 1: { color: '#CBDF90' } },
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                    chart.draw(view, options);
                    }
                </script>
            </div>

            <!-- THE STU COUR CHART-->
            <div class="col-xl-6">
                {% if stu_error %}
                <p class="error">{{stu_error}}</p>
                {% endif %}

                {% if stu_data %}
                <div id="chart_div" style="height: 100%;"></div>
                <script>
                    google.charts.load('current', { 'packages': ['corechart', 'bar'] });
                    google.charts.setOnLoadCallback(drawStuff);

                    function drawStuff() {
                        var chartDiv = document.getElementById('chart_div');

                        var data = google.visualization.arrayToDataTable([
                            ["Time", "num_students", "num_courses"],
                            {% for row in stu_data %}
                    ["{{ row[0] }}", {{ row[1] }}, {{ row[2] }}],
                        {% endfor %}
            ]);

                    var options = {
                        series: {
                            0: { targetAxisIndex: 0, color: '#4D7C8A' },
                            1: { targetAxisIndex: 1, color: '#CBDF90' }
                        },
                        title: 'Student Numbers and Course Offerings on {{ day }} in {{ strTerm }}.',
                        titleTextStyle: {
                            fontName: 'Tahoma',
                            fontSize: 16,
                        },
                        vAxes: {
                            // Adds titles to each axis.
                            0: { title: 'Students' },
                            1: { title: 'Courses' }
                        }
                    };

                    function drawClassicChart() {
                        var classicChart = new google.visualization.ColumnChart(chartDiv);
                        classicChart.draw(data, options);
                    }

                    drawClassicChart();
        };
                </script>
                {% endif %}
            </div>
        </div>
    </div>
    {%endif%}
</body>

</html>