<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='query_pages.css')}}"/>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   {# The next 4 lines basically gets the data from the py file so that our javascript code can use it #}
   <script type="text/javascript">
      myvar = {{ data | tojson }}
      console.log(myvar[0][1]);
      myvar[0].push(1551 - myvar[0][1]);
      myvar[1].push(453 - myvar[1][1]);
      myvar[2].push(635 - myvar[2][1]);
      myvar[3].push(464 - myvar[3][1]);
      myvar[4].push(855 - myvar[4][1]);
      myvar[5].push(765 - myvar[5][1]);
   </script>
   <title>Parking!</title>
</head>

<body class="center">
   <!-- NAV BAR -->
   {% with home=False, classtime=False, garages=False, students=False,
   occupied=True, faculty=False, visitors=False %}
   {% include 'nav.html' %}
   {% endwith %}

   <br>
   <h1 class="center" style="font-size: 300%;">Percentage of Occupied Spaces</h1>
   {% if is_input_wrong %}
   WRONG INPUT FORMAT. PLEASE USE 'HH' FORMAT FOR HOUR 'YYYY-MM-DD' FOR DATE.
   {% endif %}

	<p style="margin-left: 10%; margin-right: 10%;"> 
		This query is designed to show the average proportion of occupied and available spaces in relation 
      to total spaces available for each garage at a given hour. Users will need to input an hour in HH format 
      and a date in the input fields below.
	</p>
   
   <form class="center">
      <p>
         <h5> Enter an hour in HH format: </h5>
         <input style="width: 50px;" class="text-box" type="text" name="hour" value="{{hour_input}}" required> <br>
         <h5> Enter a date in MM/DD/YYYY format: </h5>
         <input class="text-box" type="date" name="date" value="{{date_input}}" min="2021-01-01" max="2021-11-04" required> <br><br>
         <input class="submit" type="submit">
      </p>
   </form>
   <div class="center" id="table_div" style="width: 500px;"></div>
   <script class="center" type="text/javascript">
      google.charts.load('current', { 'packages': ['table'] });
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {

         var jsdata = new google.visualization.DataTable();
         jsdata.addColumn('string', 'Parking Deck');
         jsdata.addColumn('number', 'Occupied Spaces');
         jsdata.addColumn('number', 'Available Spaces');

         jsdata.addRows(myvar);

         var table = new google.visualization.Table(document.getElementById('table_div'));
         table.draw(jsdata, { showRowNumber: true, width: '100%', height: '100%' });
      }

   </script>
   <div class="center" id="columnchart_values" style="width: 500px;"></div>
   <script type="text/javascript">
      google.charts.load("current", { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
         var data = google.visualization.arrayToDataTable([
            ['Garage Availability', 'Occupied Spaces', 'Available Spaces'],
            ['Ballard', myvar[0][1], 1551 - myvar[0][1]],
            ['Champions', myvar[1][1], 453 - myvar[1][1]],
            ['Chesapeake', myvar[2][1], 635 - myvar[2][1]],
            ['Grace', myvar[3][1], 464 - myvar[3][1]],
            ['Mason', myvar[4][1], 855 - myvar[4][1]],
            ['Warsaw', myvar[5][1], 765 - myvar[5][1]]]
         );

         var view = new google.visualization.DataView(data);
         view.setColumns([0, 1,
            {
               calc: "stringify",
               sourceColumn: 1,
               type: "string",
               role: "annotation"
            },
            2]);

         var options = {
            width: 600,
            height: 400,
            legend: { position: 'top', maxLines: 3 },
            bar: { groupWidth: '75%' },
            isStacked: true,
         };
         var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
         chart.draw(view, options);
      }
   </script>
</body>

</html>