<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon.png" />
    <title>Occupancy and Students</title>
</head>

<body>
    <!-- NAV BAR -->
    {% with home=False, percent_stu=True, garages=False, students=False,
    occupied=False, faculty=False, visitors=False %}
    {% include 'nav.html' %}
    {% endwith %}
</body>

</html>